absences.txt
STATS-ASE 101 Fall24 Garcia.pdf
Registrar Class Scheduling Common Final Request (38).pdf
class-planning.xlsx
Class_Excusal_Letter_-_Water_Ski_Regionals.pdf
drc-07.txt
drc-08.txt
drc-09.txt
seating-chart-w1-w3.docx
seating-chart-w1-w3.pdf
P1 - posit cloud sign up.pdf
P1 - posit cloud sign iup.docx
P1 - posit cloud sign up.docx
notes.txt
218F24_Robinson.pdf
attendance-summary.qmd
attendance_reports*
seating-chart-w4-6.docx
seating-chart-w4-6.pdf
