STATS ASE101 - Fall25 - Franchesca Garcia_encrypted_.pdf
STAT 218 Fa25_Robinson.pdf
BrookHansen--W. Volleyball Travel Letter 2025  -1.pdf
BrookeHansen--Week 1 - Line Drop 2025 Fall FAR letter.pdf
IzzyMatteson--FAR Missed Class F25.pdf
_class-planning.xlsx
